.taskboardContainer{
    flex:9;
    height: 100vh;
    padding: 20px;
    position: relative;
    overflow-y: scroll;
}

.taskboardMain{
    margin-top: 100px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}