.confirmPasswordContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmPasswordMainForm{
    width: 100%;
    max-width: 400px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 8px -3px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.confirmPasswordMain{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 250px;
    justify-content: space-around;
}

.confirmPasswordHead{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmPasswordOAuth{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmPasswordOAuthIcons{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 20px 0px;
}